<% layout('layouts/boilerPlate') %>
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"> Oh no! Something went wrong :c </h4>
            <p>
                <%= err.message %>
            </p>
            <hr>
            <p class="mb-0">Please check the problem and try again</p>
        </div>
    </div>
</div>