<% layout('layouts/boilerPlate') %>

<div class="container mx-auto" style="width: 35rem;">
    <h2 class="text-center">create your new campground</h2>
    <form action="/campgrounds" method="POST" class=" m-3 border rounded p-3 validation-form" novalidate>
        <div class="mb-2">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="campground[title]" required>
        </div>
        <div class="mb-2">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" id="location" name="campground[location]" required>
        </div>
        <div class="mb-2">
            <label for="image" class="form-label">Image URL</label>
            <input type="text" class="form-control" id="image" name="campground[image]" required>
        </div>
        <div class="mb-2">
            <label for="price" class="form-label">price</label>
            <div class="input-group">
                <span class="input-group-text">$</span>
                <input type="number" class="form-control" id="price" name="campground[price]" required>
            </div>
        </div>
        <div class="mb-2">
            <label for="description" class="form-label">description</label>
            <textarea class="form-control" id="description" name="campground[description]" required></textarea>
        </div>
        <button type="submit" class="btn btn-success">Create</button>
    </form>
</div>